<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.dao.mapper.UserCookieMapper" >


    <select id = "queryById"  parameterType="map"  resultType="com.entity.UserCookieEntity">
        select
        id,
        user_id as userId,
        name,
        value,
        domain,
        path,
        expiry,
        isSecure,
        isHttpOnly,
        create_time as createTime
        from user_cookie
    </select>
</mapper>
